<h1>Admin Home page</h1>



<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Competitor</th>
    <th colspan="3"></th>
  </tr>

  <% @competitions.each do |competition| %>
    <tr>
      <td><%= competition.title %></td>
      <td><%= competition.description %></td>
      <td><%= competition.users.count %></td>
      <td><%= link_to 'show', competition_path(competition)%></td>
      <td><%= link_to 'edit', edit_competition_path(competition) %></td>
      <td><%= link_to 'delete', competition_path(competition),
              method: :delete,
              data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <%end %>
</table>
